#group	sample	input_file
control	control1	control1.fastq.gz
control	control2	control2.fastq.gz
control	control3	control3.fastq.gz
control	control4	control4.fastq.gz
control	control5	control5.fastq.gz
case	case1	case1.fastq.gz
case	case2	case2.fastq.gz
case	case3	case3.fastq.gz
case	case4	case4.fastq.gz
